{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les recettes d'Adrien</h1>
    {% for recette in recettes %}
        <h3>{{ recette.title }}</h3>
        <p>{{ recette.content }}</p>
        <small>{{ recette.duration }}</small><br>
        <strong>{{ recette.publishedAt|date("d/m/Y") }}</strong><br>
        <small>{{ recette.comments|length }} commentaire(s)</small><br>
        <a href="{{ path("recette_read", { id: recette.id }) }}">Consulter la recette</a>
    {% endfor %}
{% endblock %}